---
import { Picture } from "astro:assets";
import serviceImage4 from "../../assets/images/customer-service.jpg";
import serviceImage3 from "../../assets/images/forklift-loading-lorry.jpg";
import serviceImage1 from "../../assets/images/lorry-driving-mountains-in-the-background.jpg";
import serviceImage2 from "../../assets/images/man-with-a-van-full-of-parcels.jpg";
import type { SelectedTranslation } from "../../utils/utils";
import "./service.css";

interface Props {
  service: SelectedTranslation["services"] | undefined;
}

const { service } = Astro.props;

const serviceCards = service?.cards.map((card, index) => ({
  title: card.title,
  body: card.body,
  image:
    [serviceImage1, serviceImage2, serviceImage3, serviceImage4][index] ||
    serviceImage4,
  alt: card.alt || "Service image - " + card.title,
}));
---

<section id="services-1628">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">{service?.topper}</span>
        <h2 class="cs-title">{service?.heading}</h2>
      </div>
      <p class="cs-text">
        {service?.description}
      </p>
    </div>
    <ul class="cs-card-group">
      {
        serviceCards?.map((card) => (
          <li class="cs-item">
            <Picture
              src={card.image}
              alt={card.alt}
              width="813"
              height="820"
              class="cs-picture"
              formats={["avif", "webp"]}
              loading="lazy"
              decoding="async"
              sizes="(max-width: 768px) 100vw, 813px"
            />
            <h3 class="cs-h3">{card.title}</h3>
            <p class="cs-item-text">{card.body}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
