---
import { Image, Picture } from "astro:assets";
import reviewImage from "../../assets/images/port-full-containers-cranes-in-the-background.jpg";
import type { SelectedTranslation } from "../../utils/utils";
import "./reviews.css";

interface Props {
  reviews: SelectedTranslation["reviews"] | undefined;
}

const { reviews } = Astro.props;
---

<section id="reviews-211">
  <div class="cs-container">
    <div class="cs-card">
      <Picture
        src={reviewImage}
        width="828"
        height="700"
        aria-hidden="true"
        alt={reviews?.review?.imageTitle || ""}
        class="cs-picture"
      />
      <div class="cs-content">
        <span class="cs-topper">{reviews?.topper}</span>
        <h2 class="cs-title">{reviews?.heading}</h2>
        <p class="cs-text">{reviews?.description}</p>
      </div>
    </div>
    <div class="cs-review">
      <Image
        class="cs-review-img"
        aria-hidden="true"
        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
        alt="5 stars"
        width="112"
        height="20"
        loading="lazy"
      />
      <span class="cs-review-title">{reviews?.review.title}</span>
      <p class="cs-review-p">{reviews?.review.body}</p>
      <span class="cs-review-name">⎯ {reviews?.review.author}</span>
    </div>
  </div>
</section>
