---
import Layout from "../../layouts/Layout.astro";
import JobForm from "../../components/job-form/JobForm.astro";
import { getCountryCode, getCurrentLanguageTranslation } from "../../utils/utils";
import "../../styles/wycena.css";

const lang = getCountryCode(Astro.url.pathname);
const translations = await getCurrentLanguageTranslation(lang);
---

<Layout
  contactBtn={translations.contactBtn}
  contact={translations.contact}
  links={translations.nav.links}
  footer={translations.footer}
  title="Free Transport Quote Gdańsk – Sub Logistics | Fast Offer from Piotr Subotowicz"
  description="Fill out the form and get a fast, free quote for road transport from Gdańsk. We specialise in ADR, refrigerated and oversized transport. Personal approach and swift handling — contact the company owner directly. Trust Sub Logistics!"
>
  <section class="quote">
    <h1 class="cs-title">Get a quote</h1>
    <p class="cs-text">Tell us about your shipment and we’ll get back to you quickly.</p>
    <br>
    <JobForm jobForm={translations.jobForm} />
  </section>
</Layout>
