---
import "./cta.css";
import { SelectedTranslation, getCountryCode, getHref } from "../../utils/utils";
import { Picture } from "astro:assets";
import ctaBg from "../../assets/images/lorry-driving-on-a-road-between-forest.webp";

interface Props {
  cta: SelectedTranslation["cta"];
}

const { cta } = Astro.props;
const currentLang = getCountryCode(Astro.url.pathname);
---

<section id="cta-51">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">{cta.topper}</span>
      <h2 class="cs-title">{cta.heading}</h2>
      <p class="cs-text">
        {cta.description}
      </p>
      <a href={getHref(currentLang, "/#cs-contact-490")} class="cs-button-solid">{cta.actionBtn}</a>
    </div>
  </div>
  <!-- Background Image-->
  <Picture
    src={ctaBg}
    class="cs-picture"
    alt=""
    aria-hidden="true"
    loading="lazy"
    decoding="async"
    fetchpriority="low"
    sizes="100vw"
    formats={["avif", "webp"]}
  />
</section>
