---
import { Picture } from "astro:assets";
import { getHref, Lang, SelectedTranslation } from "../../utils/utils";
import teamImage from "../../assets/images/customer-service.jpg";
import "./team.css";

interface Props {
  link: SelectedTranslation["nav"]["links"][1];
  team: SelectedTranslation["team"];
}

const currentLang = Astro.url.pathname.split("/")[1] as Lang;
const { link, team } = Astro.props;
---

<section id="meet-team-860">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">{team?.topper}</span>
        <h2 class="cs-title">{team?.heading1} - {team?.heading2}</h2>
        <p class="cs-text">
          {team?.description}
        </p>
      </div>
      <a href={getHref(currentLang, link.url)} class="cs-button-solid"
        >{team?.actionBtn}</a
      >
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <Picture
          width="305"
          height="407"
          src={teamImage}
          class="cs-picture"
          alt={team?.imageTitle || ""}
          formats={["avif", "webp"]}
          loading="lazy"
          decoding="async"
          fetchpriority="low"
          sizes="(max-width: 600px) 60vw, 305px"
        />
        <div class="cs-info">
          <span class="cs-name">Piotr Subotowicz</span>
          <span class="cs-job">{team?.jobTitle}</span>
        </div>
      </li>
    </ul>
  </div>
</section>
