---
import { Picture } from "astro:assets";
import type { Lang, SelectedTranslation } from "../../utils/utils";
import "./team.css";

interface Props {
  link: SelectedTranslation["nav"]["links"][1];
  team: SelectedTranslation["team"];
}

const currentLang = Astro.url.pathname.split("/")[1] as Lang;
const { link, team } = Astro.props;
const href = link.url.startsWith("/") ? `/${currentLang}${link.url}` : link.url;
---

<section id="meet-team-860">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">{team?.topper}</span>
        <h2 class="cs-title">{team?.heading1} - {team?.heading2}</h2>
        <p class="cs-text">
          {team?.description}
        </p>
      </div>
      <a href={href} class="cs-button-solid">{team?.actionBtn}</a>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <Picture
          width="305"
          height="407"
          src="https://scontent-waw2-1.xx.fbcdn.net/v/t1.6435-9/37626263_1309748129160660_6060351691067228160_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ye4hXLUccj0Ab7lLPon&_nc_ht=scontent-waw2-1.xx&oh=00_AfCU5QKHHGEgDXnPU5AgeWI1P-jr4M-pzu3zNRIDyVoQCA&oe=6637BB3F"
          class="cs-picture"
          alt={team?.imageTitle || ""}
          formats={["avif", "webp"]}
          loading="lazy"
        />
        <div class="cs-info">
          <span class="cs-name">Piotr Subotowicz</span>
          <span class="cs-job">{team?.jobTitle}</span>
        </div>
      </li>
    </ul>
  </div>
</section>
