---
import "../../styles/onas.css";
import { getCountryCode, getHref } from "../../utils/utils";

interface Props {
  aboutUs: any;
}

const { aboutUs } = Astro.props;
const currentLang = getCountryCode(Astro.url.pathname);
---

<section id="content-page-713">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">
        {aboutUs.h1part1}
        <span class="cs-color">{aboutUs.h1part2}</span>.
      </h1>
      <h2>{aboutUs.h2}</h2>
      <p class="cs-text">{aboutUs.h2Paragraph}</p>
      <h3>{aboutUs.h3}</h3>
      <p class="cs-text">{aboutUs.h3Paragraph}</p>
      <h3>{aboutUs.h3next}</h3>
      <ul>
        {
          aboutUs.li.map((item: any) => (
            <li>
              {item.title}
              <p class="cs-text">{item.description}</p>
            </li>
          ))
        }
      </ul>
      <h4>{aboutUs.h4}</h4>
      <p class="cs-text">{aboutUs.h4Paragraph}</p>
      <br />
      <p class="cs-text">
        <!--lang here ?-->
        <a href={getHref(currentLang, aboutUs.link.url)}>{aboutUs.link.part1}</a
        >, {aboutUs.link.part2}
      </p>
    </div>
    <div class="cs-image-group">
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="https://scontent-waw2-1.xx.fbcdn.net/v/t1.6435-9/37626263_1309748129160660_6060351691067228160_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ye4hXLUccj0Ab7lLPon&_nc_ht=scontent-waw2-1.xx&oh=00_AfCU5QKHHGEgDXnPU5AgeWI1P-jr4M-pzu3zNRIDyVoQCA&oe=6637BB3F"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="https://scontent-waw2-1.xx.fbcdn.net/v/t1.6435-9/37626263_1309748129160660_6060351691067228160_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ye4hXLUccj0Ab7lLPon&_nc_ht=scontent-waw2-1.xx&oh=00_AfCU5QKHHGEgDXnPU5AgeWI1P-jr4M-pzu3zNRIDyVoQCA&oe=6637BB3F"
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://scontent-waw2-1.xx.fbcdn.net/v/t1.6435-9/37626263_1309748129160660_6060351691067228160_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ye4hXLUccj0Ab7lLPon&_nc_ht=scontent-waw2-1.xx&oh=00_AfCU5QKHHGEgDXnPU5AgeWI1P-jr4M-pzu3zNRIDyVoQCA&oe=6637BB3F"
          alt="person"
          width="570"
          height="680"
          aria-hidden="true"
        />
      </picture>
    </div>
  </div>
  <!--Waves Graphic-->
  <picture class="cs-background">
    <img
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Flarge-waves.svg"
      alt="waves"
      decoding="async"
      aria-hidden="true"
      width="625"
      height="952"
    />
  </picture>
</section>
