---
import type { Lang, SelectedTranslation } from "../../utils/utils";
import "../contact-form/contact-form.css";
interface Props {
  form?: SelectedTranslation["contactForm"] | undefined;
  contact?: SelectedTranslation["contact"] | undefined;
}

const currentLang = Astro.url.pathname.split("/")[1] as Lang;

const { form, contact } = Astro.props;
console.log(form, currentLang);

export const googleMapsLink =
  "https://www.google.pl/maps/place/Marynarki+Polskiej+136A%2F47,+80-865+Gda%C5%84sk/@54.3787535,18.6284272,17z/data=!3m1!4b1!4m5!3m4!1s0x46fd74a1ec7664fb:0x4a47f05d5bd9227a!8m2!3d54.3787535!4d18.6310021?entry=ttu";
---

<section id="cs-contact-490">
  <div class="cs-container">
    <!-- Contact Info -->
    <div class="cs-content">
      <span class="cs-topper">
        {form?.topper}
      </span>
      <h2 class="cs-title">{form?.heading}</h2>
      <p class="cs-text">
        {form?.description}
      </p>

      <!--Address-->
      <div class="cs-address">
        <span class="cs-header">{form?.contactLabels.address}</span>
        <a
          href={googleMapsLink}
          class="cs-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          {contact?.address}
        </a>
        <span aria-hidden="true" class="cs-tooltip">{form?.contactLabels.tooltip}</span
        >
      </div>
      <br />
      <!--Email-->
      <span class="cs-header">{form?.contactLabels.email}</span>
      <a href=`mailto:${contact?.email}` class="cs-link">{contact?.email}</a>

      <!--Phone-->
      <span class="cs-header">{form?.contactLabels.phone}</span>
      <a href=`tel:${contact?.phone}` class="cs-link">{contact?.phone}</a>
    </div>
    <!-- Form -->
    <!-- TODO: check docs -->
    <form
      id="cs-form-490"
      name="Contact Form"
      method="post"
      action="https://api.web3forms.com/submit"
    >
      <!-- HIDDEN -->
      <!-- <input type="hidden" name="redirect" value="wiadomosc-wyslana" /> -->
      <input type="hidden" name="apikey" value={import.meta.env.VITE_API_KEY} />
      <input type="checkbox" name="botcheck" class="hidden" style="display: none;" />
      <input type="hidden" name="subject" value="Nowa wiadomość ze strony" />
      <!-- HIDDEN -->
      <label for="name-490" class="cs-label">
        {form?.formFields.name.label} <input
          class="cs-input"
          required="required"
          type="text"
          id="name-490"
          name="name"
          pattern="[A-Za-z]{2,}"
          placeholder={form?.formFields.name.placeholder}
          autocomplete="given-name"
        />
      </label>
      <label for="email-490" class="cs-label">
        {form?.formFields.email.label} <input
          class="cs-input"
          required
          type="email"
          id="email-490"
          name="email"
          placeholder={form?.formFields.email.placeholder}
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          autocomplete="email"
        />
      </label>
      <label for="phone-490" class="cs-label">
        {form?.formFields.phone.label} <input
          class="cs-input"
          required
          pattern="(?<!\w)(\(?(\+|00)?48\)?)?[ -]?\d{3}[ -]?\d{3}[ -]?\d{3}(?!\w)"
          type="tel"
          id="phone-490"
          name="phone"
          placeholder="np. 0621345123"
          autocomplete="tel"
          minlength="9"
        />
      </label>
      <label for="message-490" class="cs-label -label-message">
        {form?.formFields.message.label} <textarea
          class="cs-input"
          required
          name="Message"
          id="message-490"
          placeholder={form?.formFields.message.placeholder}></textarea>
      </label>
      <div class="cs-label cs-span-2">
        <label for="agreement">
          {form?.formFields.checkbox.label}
          <a href={`${currentLang}${form?.formFields.checkbox.policyLink}`}
            >{form?.formFields.checkbox.label2}</a
          >
          <input
            class="cs-checkbox"
            type="checkbox"
            id="agreement"
            name="Polityka prywatności"
            required
          />
        </label>
      </div>
      <br />
      <button class="cs-button-solid">{form?.formFields.submitBtn}</button>
    </form>
    <!-- !! FOR JS -->
    <!-- <div class="lds-spinner"></div>
    <div class="success-component">Wiadomość została wysłana pomyślnie!</div>
    <div class="error-component">Wystąpił błąd, spróbuj ponownie później.</div>
    <a href="/" class="back-to-home">Powrót do strony głównej</a> -->
  </div>
</section>

<script>
  const tooltip = document.querySelector(".cs-tooltip") as HTMLElement;
  const address = document.querySelector(".cs-address .cs-link") as HTMLElement;

  address?.addEventListener("mouseover", () => {
    tooltip.style.opacity = "1";
    tooltip.style.transform = "translateY(0)";
    tooltip.style.transition = "all 0.3s ease-in-out";
  });
  address?.addEventListener("mouseout", () => {
    tooltip.style.opacity = "0";
    tooltip.style.transform = "translateY(10px)";
    tooltip.style.transition = "all 0.3s ease-in-out";
  });
</script>

<!-- <script>
  function h() {
    document.addEventListener("DOMContentLoaded", function () {
      const spinner = document.querySelector(".lds-spinner") as HTMLElement;
      const successComponent = document.querySelector(
        ".success-component"
      ) as HTMLElement;
      const errorComponent = document.querySelector(".error-component") as HTMLElement;
      const submitButton = document.querySelector(".submit-btn") as HTMLElement;
      const contactForm = document.getElementById("contact-569") as HTMLFormElement;
      const errorMessage = document.querySelector(".error-message") as HTMLElement;
      const backToHome = document.querySelector(".back-to-home") as HTMLElement;

      // needed ?
      spinner.style.display = "none";
      successComponent.style.display = "none";
      errorComponent.style.display = "none";
      backToHome.style.display = "none";

      let errorText;
      switch (document.documentElement.lang) {
        case "pl":
          errorText = "* Zaznacz pole";
          break;
        case "en":
          errorText = "* Check the box";
          break;
        case "de":
          errorText = "* Bitte auswählen";
          break;
        default:
          errorText = "* Zaznacz pole";
      }

      contactForm.addEventListener("submit", function (event) {
        event.preventDefault();
        if (!contactForm.querySelector("textarea[name=h-captcha-response]")?.value) {
          errorMessage.textContent = errorText;
          return;
        }

        const formData = new FormData(contactForm);
        const formJSON = JSON.stringify(Object.fromEntries(formData));

        spinner.style.display = "block";
        submitButton.style.display = "none";

        fetch("https://api.web3forms.com/submit", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: formJSON,
        })
          .then(async (response) => {
            if (response.status == 200) {
              console.log(response.status);
              contactForm.style.display = "none";
              spinner.style.display = "none";
              successComponent.style.display = "block";
              backToHome.style.display = "block";
              window.scrollTo({ top: 0, behavior: "smooth" });
            } else {
              console.log(response);
              submitButton.style.display = "block";
            }
          })
          .catch((error) => {
            console.log(error);
            errorComponent.style.display = "block";
          });
      });
    });
  }

  h();
</script> -->

<!-- TODO: CUSTOM FORM LOGIC  -->
<script></script>
