---
import Layout from "../../layouts/Layout.astro";
import "../../styles/oferta.css";
import { getCountryCode, getCurrentLanguageTranslation } from "../../utils/utils";

const lang = getCountryCode(Astro.url.pathname);
const translations = await getCurrentLanguageTranslation(lang);
const offer = translations?.offer ?? { title: "", items: [] as { lead: string; text?: string }[] };
const items = offer?.items ?? [] as { lead: string; text?: string }[];
const mid = Math.ceil(items.length / 2);
const group1 = items.slice(0, mid);
const group2 = items.slice(mid);
---

<Layout
  contactBtn={translations.contactBtn}
  contact={translations.contact}
  links={translations.nav.links}
  footer={translations.footer}
  title="Leistungen"
  description="Leistungen"
>
  <section id="why-choose-1662">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">{offer.title}</h2>
      </div>
      <div class="cs-wrapper">
        <ul class="cs-card-group">
          {group1.map((item, idx) => (
            <li class="cs-item">
              <span class="cs-item-number">{String(idx + 1).padStart(2, '0')}</span>
              <div class="cs-item-wrapper">
                <p class="cs-item-text">
                  <strong class="cs-item-lead">{item.lead}</strong>{item.text ? ` ${item.text}` : ""}
                </p>
              </div>
            </li>
          ))}
        </ul>
        <ul class="cs-card-group">
          {group2.map((item, idx) => (
            <li class="cs-item">
              <span class="cs-item-number">{String(idx + 1 + group1.length).padStart(2, '0')}</span>
              <div class="cs-item-wrapper">
                <p class="cs-item-text">
                  <strong class="cs-item-lead">{item.lead}</strong>{item.text ? ` ${item.text}` : ""}
                </p>
              </div>
            </li>
          ))}
        </ul>
      </div>
      <!---SVG Graphic-->
      <!--<img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/diagnol-ovals.svg" alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690">-->
      <svg class="cs-floater" width="582" height="196" viewBox="0 0 582 196" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M95.7496 44.1301L59.1001 88.26C53.9798 94.4249 46.37 97.9906 38.3467 97.9906H38.3373C15.4983 97.9906 3.00311 71.4169 17.584 53.8606L54.2429 9.73056C59.3631 3.56568 66.973 0 74.9962 0H75.0056C97.8352 0 110.34 26.5738 95.759 44.1301H95.7496ZM63.6754 97.9906C55.6521 97.9906 48.0423 101.556 42.922 107.731L6.26314 151.87C-8.31775 169.426 4.18687 196 27.0165 196C35.0397 196 42.6496 192.434 47.7698 186.26L84.4287 142.121C99.0096 124.564 86.505 97.9999 63.6754 97.9999V97.9906ZM154.994 0H154.984C146.961 0 139.351 3.56568 134.231 9.73056L97.5816 53.8606C83.0007 71.4169 95.4959 97.9906 118.335 97.9906H118.344C126.368 97.9906 133.977 94.4249 139.098 88.26L175.757 44.1301C190.337 26.5738 177.842 0 155.003 0H154.994ZM143.673 97.9906C135.65 97.9906 128.04 101.556 122.92 107.731L86.2607 151.87C71.6798 169.426 84.1845 196 107.014 196C115.037 196 122.647 192.434 127.767 186.26L164.426 142.121C179.007 124.564 166.503 97.9999 143.673 97.9999V97.9906ZM234.991 0H234.982C226.959 0 219.349 3.56568 214.229 9.73056L177.579 53.8606C162.998 71.4169 175.494 97.9906 198.333 97.9906H198.342C206.365 97.9906 213.975 94.4249 219.095 88.26L255.745 44.1301C270.326 26.5738 257.83 0 234.991 0ZM223.671 97.9906C215.647 97.9906 208.037 101.556 202.917 107.731L166.258 151.87C151.677 169.426 164.182 196 187.012 196C195.035 196 202.645 192.434 207.765 186.26L244.424 142.121C259.005 124.564 246.5 97.9999 223.671 97.9999V97.9906ZM314.989 0H314.98C306.956 0 299.347 3.56568 294.226 9.73056L257.577 53.8606C242.996 71.4169 255.491 97.9906 278.33 97.9906H278.34C286.363 97.9906 293.973 94.4249 299.093 88.26L335.742 44.1301C350.323 26.5738 337.828 0 314.989 0ZM303.668 97.9906C295.645 97.9906 288.035 101.556 282.915 107.731L246.256 151.87C231.675 169.426 244.18 196 267.009 196C275.033 196 282.642 192.434 287.763 186.26L324.422 142.121C339.002 124.564 326.498 97.9999 303.668 97.9999V97.9906ZM394.987 0C386.963 0 379.354 3.56568 374.233 9.73056L337.584 53.8606C323.003 71.4169 335.498 97.9906 358.337 97.9906H358.346C366.37 97.9906 373.98 94.4249 379.1 88.26L415.749 44.1301C430.33 26.5738 417.835 0 394.996 0H394.987ZM383.666 97.9906C375.642 97.9906 368.033 101.556 362.912 107.731L326.254 151.87C311.673 169.426 324.168 196 347.007 196C355.03 196 362.64 192.434 367.76 186.26L404.419 142.121C419 124.564 406.495 97.9999 383.666 97.9999V97.9906ZM474.984 0H474.975C466.952 0 459.342 3.56568 454.221 9.73056L417.572 53.8606C402.991 71.4169 415.486 97.9906 438.325 97.9906H438.335C446.358 97.9906 453.968 94.4249 459.088 88.26L495.738 44.1301C510.318 26.5738 497.823 0 474.984 0ZM463.663 97.9906C455.64 97.9906 448.03 101.556 442.91 107.731L406.251 151.87C391.67 169.426 404.175 196 427.004 196C435.028 196 442.638 192.434 447.758 186.26L484.417 142.121C498.998 124.564 486.502 97.9999 463.663 97.9999V97.9906ZM554.982 0H554.972C546.949 0 539.339 3.56568 534.219 9.73056L497.57 53.8606C482.989 71.4169 495.484 97.9906 518.323 97.9906H518.332C526.356 97.9906 533.965 94.4249 539.086 88.26L575.735 44.1301C590.316 26.5738 577.821 0 554.982 0ZM543.661 97.9906C535.638 97.9906 528.028 101.556 522.908 107.731L486.249 151.87C471.668 169.426 484.172 196 507.002 196C515.025 196 522.635 192.434 527.755 186.26L564.414 142.121C578.995 124.564 566.491 97.9999 543.661 97.9999V97.9906Z" fill="white"/>
      </svg>

    </div>
  </section>
</Layout>
