---
import Layout from "../../layouts/Layout.astro";
import "../../styles/oferta.css";
import {
  getCountryCode,
  getCurrentLanguageTranslation,
} from "../../utils/utils";

const lang = getCountryCode(Astro.url.pathname);
const translations = await getCurrentLanguageTranslation(lang);
const offer = translations?.offer ?? { title: "", items: [] as { lead: string; text?: string }[] };
const items = offer?.items ?? [] as { lead: string; text?: string }[];
const mid = Math.ceil(items.length / 2);
const group1 = items.slice(0, mid);
const group2 = items.slice(mid);
---

<Layout
  contactBtn={translations.contactBtn}
  contact={translations.contact}
  links={translations.nav.links}
  footer={translations.footer}
  title={offer?.title ?? "Oferta"}
  description={offer?.title ?? "Oferta"}
>
  <section id="why-choose-1662">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">{offer?.title ?? ""}</h2>
      </div>
      <div class="cs-wrapper">
        <ul class="cs-card-group">
          {
            group1.map((item, idx) => (
              <li class="cs-item">
                <span class="cs-item-number">
                  {String(idx + 1).padStart(2, "0")}
                </span>
                <div class="cs-item-wrapper">
                  <p class="cs-item-text">
                    <strong class="cs-item-lead">{item.lead}</strong>{item.text ? ` ${item.text}` : ""}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
        <ul class="cs-card-group">
          {
            group2.map((item, idx) => (
              <li class="cs-item">
                <span class="cs-item-number">
                  {String(idx + 1 + group1.length).padStart(2, "0")}
                </span>
                <div class="cs-item-wrapper">
                  <p class="cs-item-text">
                    <strong class="cs-item-lead">{item.lead}</strong>{item.text ? ` ${item.text}` : ""}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">Dostępne formy transportu</h2>
      </div>
    </div>
    <br />
    <section id="timetable-1731">
      <div class="cs-container">
        <div class="cs-table-list">
          <table class="cs-table">
            <thead>
              <tr>
                <th scope="col" colspan="2">Truck</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <img
                    width="360"
                    height="230"
                    alt="Truck"
                    src="https://sdmntprpolandcentral.oaiusercontent.com/files/00000000-f890-620a-8116-8dced25cc647/raw?se=2025-08-17T17%3A59%3A50Z&sp=r&sv=2024-08-04&sr=b&scid=fb2c6ca9-7fd7-5eb6-a923-eae0f0406e59&skoid=82a3371f-2f6c-4f81-8a78-2701b362559b&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-08-17T16%3A11%3A39Z&ske=2025-08-18T16%3A11%3A39Z&sks=b&skv=2024-08-04&sig=XMSBOvCZMlZJuYmtz/zUFZQ/huOx%2B3ahAzUYr6epQJ8%3D"
                    alt="Truck"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <table class="cs-table">
            <thead>
              <tr>
                <th scope="col" colspan="2">Tuesday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <img
                    width="360"
                    height="230"
                    alt="Truck"
                    src="https://sdmntprpolandcentral.oaiusercontent.com/files/00000000-f890-620a-8116-8dced25cc647/raw?se=2025-08-17T17%3A59%3A50Z&sp=r&sv=2024-08-04&sr=b&scid=fb2c6ca9-7fd7-5eb6-a923-eae0f0406e59&skoid=82a3371f-2f6c-4f81-8a78-2701b362559b&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-08-17T16%3A11%3A39Z&ske=2025-08-18T16%3A11%3A39Z&sks=b&skv=2024-08-04&sig=XMSBOvCZMlZJuYmtz/zUFZQ/huOx%2B3ahAzUYr6epQJ8%3D"
                    alt="Truck"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <table class="cs-table">
            <thead>
              <tr>
                <th scope="col" colspan="2">Wednesday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <img
                    width="360"
                    height="230"
                    alt="Truck"
                    src="https://sdmntprpolandcentral.oaiusercontent.com/files/00000000-f890-620a-8116-8dced25cc647/raw?se=2025-08-17T17%3A59%3A50Z&sp=r&sv=2024-08-04&sr=b&scid=fb2c6ca9-7fd7-5eb6-a923-eae0f0406e59&skoid=82a3371f-2f6c-4f81-8a78-2701b362559b&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-08-17T16%3A11%3A39Z&ske=2025-08-18T16%3A11%3A39Z&sks=b&skv=2024-08-04&sig=XMSBOvCZMlZJuYmtz/zUFZQ/huOx%2B3ahAzUYr6epQJ8%3D"
                    alt="Truck"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <table class="cs-table">
            <thead>
              <tr>
                <th scope="col" colspan="2">Thursday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <img
                    width="360"
                    height="230"
                    alt="Truck"
                    src="https://sdmntprpolandcentral.oaiusercontent.com/files/00000000-f890-620a-8116-8dced25cc647/raw?se=2025-08-17T17%3A59%3A50Z&sp=r&sv=2024-08-04&sr=b&scid=fb2c6ca9-7fd7-5eb6-a923-eae0f0406e59&skoid=82a3371f-2f6c-4f81-8a78-2701b362559b&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-08-17T16%3A11%3A39Z&ske=2025-08-18T16%3A11%3A39Z&sks=b&skv=2024-08-04&sig=XMSBOvCZMlZJuYmtz/zUFZQ/huOx%2B3ahAzUYr6epQJ8%3D"
                    alt="Truck"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <table class="cs-table">
            <thead>
              <tr>
                <th scope="col" colspan="2">Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <!--todo:aspect ration or object fit cover-->
                  <img
                    width="360"
                    height="230"
                    alt="Truck"
                    src="https://sdmntprpolandcentral.oaiusercontent.com/files/00000000-f890-620a-8116-8dced25cc647/raw?se=2025-08-17T17%3A59%3A50Z&sp=r&sv=2024-08-04&sr=b&scid=fb2c6ca9-7fd7-5eb6-a923-eae0f0406e59&skoid=82a3371f-2f6c-4f81-8a78-2701b362559b&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-08-17T16%3A11%3A39Z&ske=2025-08-18T16%3A11%3A39Z&sks=b&skv=2024-08-04&sig=XMSBOvCZMlZJuYmtz/zUFZQ/huOx%2B3ahAzUYr6epQJ8%3D"
                    alt="Truck"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <table class="cs-table">
            <thead>
              <tr>
                <th scope="col" colspan="2">Saturday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <img
                    width="360"
                    height="230"
                    alt="Truck"
                    src="https://sdmntprpolandcentral.oaiusercontent.com/files/00000000-f890-620a-8116-8dced25cc647/raw?se=2025-08-17T17%3A59%3A50Z&sp=r&sv=2024-08-04&sr=b&scid=fb2c6ca9-7fd7-5eb6-a923-eae0f0406e59&skoid=82a3371f-2f6c-4f81-8a78-2701b362559b&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-08-17T16%3A11%3A39Z&ske=2025-08-18T16%3A11%3A39Z&sks=b&skv=2024-08-04&sig=XMSBOvCZMlZJuYmtz/zUFZQ/huOx%2B3ahAzUYr6epQJ8%3D"
                    alt="Truck"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </section>
</Layout>
